* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
}

input,
button,
textarea {
  font-family: inherit;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  max-width: 1920px;
  overflow-x: hidden;
  min-height: 100vh;
  font-size: 62.5%;
}

body {
  background-color: #FAFAFA;
  font-size: 1.6rem;
  color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
}

.page-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.primary-btn {
  border-radius: 3.2rem;
  background-color: #3671E9;
  -webkit-transition: background-color .4s ease-in-out;
  -o-transition: background-color .4s ease-in-out;
  transition: background-color .4s ease-in-out;
}

.primary-btn:hover {
  background-color: #F24822;
}

.title {
  font-size: 4rem;
  line-height: 6rem;
  font-weight: bold;
}

.text {
  line-height: 2.8rem;
  color: #E0E0E0;
}

@-webkit-keyframes RightAppearance {
  0% {
    opacity: 0;
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes LeftAppearance {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.header {
  background-color: #0D0D2B;
  min-height: 100vh;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 6rem;
}

.header__logo {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.2rem;
  padding-left: 5.6rem;
  position: relative;
  -ms-flex-item-align: center;
  align-self: center;
  cursor: default;
}

.header__logo::before {
  content: "";
  position: absolute;
  width: 4rem;
  height: 4rem;
  background: url("../img/header/header__logo.png") 0 0 no-repeat;
  left: 0;
  top: -1rem;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__proposition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5.1rem;
  margin-bottom: 13.9rem;
  cursor: default;
}

.header__left {
  padding-top: 8rem;
  -webkit-animation-name: LeftAppearance;
  animation-name: LeftAppearance;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}

.header__bckg-image {
  display: block;
  width: 50rem;
  height: 46rem;
  -webkit-animation-name: RightAppearance;
  animation-name: RightAppearance;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}

.nav-links {
  -ms-flex-item-align: center;
  align-self: center;
}

.nav-links > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav-links__item {
  margin-left: 3.2rem;
  position: relative;
  z-index: 10;
}

.nav-links__item::after {
  content: "";
  width: calc(100% + 2rem);
  height: calc(100% + 2rem);
  position: absolute;
  border-radius: 3.2rem;
  top: -1rem;
  left: -1rem;
  z-index: -1;
  background-color: #F24822;
  opacity: 0;
  -webkit-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.nav-links__item:hover::after {
  opacity: 1;
}

.nav-links__link {
  line-height: 2.8rem;
}

.auth-header {
  margin-left: 5.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.auth-header__login {
  line-height: 2.4rem;
  position: relative;
  position: relative;
  z-index: 10;
}

.auth-header__login::after {
  content: "";
  width: calc(100% + 2rem);
  height: calc(100% + 2rem);
  position: absolute;
  border-radius: 3.2rem;
  top: -1rem;
  left: -1rem;
  z-index: -1;
  background-color: #F24822;
  opacity: 0;
  -webkit-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.auth-header__login:hover::after {
  opacity: 1;
}

.auth-header__login::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #F2F2F2;
  top: 0;
  right: -2.4rem;
}

.auth-header__reg-btn {
  margin-left: 4.8rem;
  line-height: 2.4rem;
  line-height: 5.2rem;
  padding: 0 3.2rem;
  font-weight: 500;
}

.left-header__title {
  margin: 2.4rem 0;
  font-size: 6.4rem;
  line-height: 7.6rem;
  font-weight: bold;
}

.left-header__text {
  line-height: 2.8rem;
  color: #E0E0E0;
}

.left-header__btn {
  margin-top: 3.2rem;
  font-weight: 500;
  line-height: 6.4rem;
  padding: 0 7.2rem 0 2.4rem;
  position: relative;
}

.left-header__btn::after {
  content: "";
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  width: 3.2rem;
  height: 3.2rem;
  background: url("../img/header/header_btn-arrow.png") no-repeat;
}

.blckfriday-promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.blckfriday-promo__sale {
  position: absolute;
  top: .4rem;
  left: .4rem;
  line-height: 3.2rem;
  border-radius: 3.2rem;
  color: #0D0D2B;
  background-color: #FFFFFF;
  padding: 0 1.6rem;
  font-weight: 500;
}

.blckfriday-promo__text {
  padding-left: 13.3rem;
  padding-right: 1.1rem;
  line-height: 4rem;
  border-radius: 3.2rem;
  background: rgba(255, 255, 255, 0.1);
}

.intro {
  background-color: #0D0D2B;
}

.intro__content {
  padding: 10rem 0;
}

.intro__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10rem;
  cursor: default;
}

.intro__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.intro__left {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 54.166%;
  flex: 0 0 54.166%;
}

.intro__image-box {
  width: 65rem;
}

.intro__bckg-image {
  height: 47.3rem;
  width: 100%;
}

.intro__right {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
}

.numbers-intro__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333%;
  flex: 0 0 33.333%;
}

.item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 10.4rem;
}

.item-box__number {
  font-size: 4rem;
  line-height: 6rem;
  font-weight: bold;
}

.item-box__text {
  margin-top: .4rem;
}

.intro-box1 {
  background: url("../img/body/into_icon1.png") 0 0 no-repeat;
  background-size: 8rem;
}

.intro-box2 {
  background: url("../img/body/into_icon2.png") 0 0 no-repeat;
  background-size: 8rem;
}

.intro-box3 {
  background: url("../img/body/into_icon3.png") 0 0 no-repeat;
  background-size: 8rem;
}

.right-intro {
  padding-top: 7.7rem;
  cursor: default;
}

.right-intro__title {
  font-size: 4rem;
  line-height: 6rem;
  font-weight: bold;
  margin-bottom: 2.4rem;
}

.right-intro__text {
  padding-right: 7.2rem;
  margin-bottom: 3.2rem;
}

.right-intro__btn {
  padding: 1.6rem 2.4rem;
  line-height: 2.7rem;
}

.trade__dark-container {
  text-align: center;
  background-color: #0D0D2B;
  width: 100%;
  padding-top: 10rem;
  padding-bottom: 21.9rem;
  position: relative;
}

.trade__title1 {
  margin-bottom: 2.4rem;
  cursor: default;
}

.trade__title-text {
  margin: 0 auto;
  width: 45%;
  cursor: default;
}

.trade__bright-container {
  color: #0D0D2B;
  padding: 31.6rem 0 10rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#F8F9FB), to(#FAFBFF));
  background: -o-linear-gradient(top, #F8F9FB 0%, #FAFBFF 100%);
  background: linear-gradient(180deg, #F8F9FB 0%, #FAFBFF 100%);
}

.trade__title2 {
  color: #0D0D2B;
  text-align: center;
  margin-bottom: 6.4rem;
  cursor: default;
}

.calculator-trade {
  position: absolute;
  bottom: -21.6rem;
  left: calc(50% - 94.2rem / 2);
  background-color: #FFFFFF;
  border-radius: 1.6rem;
  text-align: start;
  -webkit-box-shadow: 0 2rem 20rem #2f1362;
  box-shadow: 0 2rem 20rem #2f1362;
}

.calculator-trade__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #FBFCFE;
  padding: 5.5rem 4.8rem;
  border-top-left-radius: 1.6rem;
  border-top-right-radius: 1.6rem;
}

.calculator-trade__inputs-area {
  color: #0D0D2B;
}

.calculator-trade__input {
  font-size: 2rem;
  line-height: 3rem;
  border-bottom: 1px solid #E0E0E0;
  padding: .8rem 0;
  background: transparent;
  margin-right: 4.8rem;
  min-width: 40rem;
}

.calculator-trade__select {
  font-size: 2rem;
  line-height: 3rem;
  padding: .8rem 0 .8rem .8rem;
  padding: .8rem 0;
  border-bottom: 1px solid #E0E0E0;
  background: transparent;
  min-width: 20rem;
  cursor: pointer;
}

.calculator-trade__select option {
  color: #0D0D2B;
}

.calculator-trade__calculate-btn {
  font-size: 1.8rem;
  line-height: 2.7rem;
  font-weight: 500;
  padding: 1.6rem 3.2rem;
  margin-left: 4.8rem;
}

.calculator-trade__bottom {
  padding: 4.8rem;
  cursor: default;
}

.calculator-trade__info-text {
  font-weight: 500;
  line-height: 2.4rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #3671E9;
  margin-bottom: 1.6rem;
}

.calculator-trade__result {
  font-size: 3.2rem;
  line-height: 4.8rem;
  letter-spacing: 0.04em;
  color: #0D0D2B;
  font-weight: bold;
  margin-bottom: .4rem;
}

.calculator-trade__result span {
  color: #3671E9;
}

.calculator-trade__add-info {
  color: #828282;
  line-height: 2.8rem;
}

.currencies-trade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.currencies-trade__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc((100% - 9rem) / 3);
  flex: 0 0 calc((100% - 9rem) / 3);
}

.item-currencies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  border-radius: 1.6rem;
  background-color: #FFF;
  padding: 17.6rem 2.4rem 4.8rem 2.4rem;
  -webkit-transition: background-color .7s ease;
  -o-transition: background-color .7s ease;
  transition: background-color .7s ease;
}

.item-currencies:hover {
  background-color: #2B076E;
  -webkit-box-shadow: 1rem 1rem 3rem #391777;
  box-shadow: 1rem 1rem 3rem #391777;
}

.item-currencies:hover .item-currencies__name,
.item-currencies:hover .item-currencies__text {
  color: white;
}

.item-currencies:hover .start-btn__text {
  display: block;
}

.item-currencies:hover .start-btn__icon {
  width: 3.2rem;
  height: 3.2rem;
  border: none;
  margin-right: 1.6rem;
}

.item-currencies:hover .start-btn__icon img {
  width: .6rem;
  height: 1rem;
  -ms-flex-item-align: center;
  align-self: center;
}

.item-currencies__name {
  font-size: 3.2rem;
  line-height: 4.8rem;
  color: #0D0D2B;
  font-weight: bold;
  margin-bottom: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: default;
}

.item-currencies__name-add {
  font-size: 1.8rem;
  line-height: 2.7rem;
  opacity: .7;
  margin-left: .8rem;
  cursor: default;
}

.item-currencies__text {
  line-height: 2.8rem;
  letter-spacing: 0.01em;
  margin-bottom: 2.5rem;
  cursor: default;
}

.bitcoin {
  position: relative;
}

.bitcoin::after {
  content: "";
  position: absolute;
  width: 8rem;
  height: 8rem;
  top: 4.8rem;
  left: calc(50% - 8rem / 2);
  background: url("../img/body/trade_bitcoin.png") no-repeat;
  background-size: cover;
}

.start-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: width, height 3s linear;
  -o-transition: width, height 3s linear;
  transition: width, height 3s linear;
}

.start-btn__text {
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #FFFFFF;
  padding: 1.85rem 2.4rem;
  display: none;
}

.start-btn__icon {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  border: 2px solid rgba(43, 7, 110, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #FFF;
}

.start-btn__icon img {
  display: block;
  width: 1.2rem;
  height: 2rem;
}

.ethereum {
  position: relative;
}

.ethereum::after {
  content: "";
  position: absolute;
  width: 8rem;
  height: 8rem;
  top: 4.8rem;
  left: calc(50% - 8rem / 2);
  background: url("../img/body/trade_ethereum.png") no-repeat;
  background-size: cover;
}

.litecoin {
  position: relative;
}

.litecoin::after {
  content: "";
  position: absolute;
  width: 8rem;
  height: 8rem;
  top: 4.8rem;
  left: calc(50% - 8rem / 2);
  background: url("../img/body/trade_litecoin.png") no-repeat;
  background-size: cover;
}

.features {
  background-color: #2B076E;
  padding: 10rem 0;
}

.features__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.features__title {
  text-align: center;
  margin-bottom: 10rem;
  padding: 0 22rem;
  cursor: default;
}

.features__box {
  margin-bottom: 12rem;
}

.features__box:last-child {
  margin-bottom: 0;
}

.box-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.box-content__info {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 38%;
  flex: 0 0 38%;
}

.box-content__title {
  font-size: 3.2rem;
  line-height: 4.8rem;
  font-weight: bold;
  margin-bottom: 2.4rem;
  margin-top: 4rem;
  cursor: default;
}

.box-content__text {
  margin-bottom: 3.2rem;
  cursor: default;
}

.box-content__btn {
  padding: 1.6rem 3.2rem;
  line-height: 2.7rem;
}

.box-content__image {
  display: block;
  height: auto;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% - (38% + 10rem));
  flex: 0 0 calc(100% - (38% + 10rem));
}

.start {
  background: -webkit-gradient(linear, left top, left bottom, from(#2B076E), to(#0D0D2B));
  background: -o-linear-gradient(top, #2B076E 0%, #0D0D2B 100%);
  background: linear-gradient(180deg, #2B076E 0%, #0D0D2B 100%);
}

.start__content {
  padding: 8.8rem 0;
}

.start__box {
  padding: 4.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #3671E9;
  border-radius: 1.6rem;
}

.start__left {
  cursor: default;
}

.start__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.start__input {
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  color: #FFFFFF;
  min-width: 37rem;
  line-height: 2.8rem;
}

.start__input::-webkit-input-placeholder {
  color: #FFFFFF;
}

.start__input::-moz-placeholder {
  color: #FFFFFF;
}

.start__input:-ms-input-placeholder {
  color: #FFFFFF;
}

.start__input::-ms-input-placeholder {
  color: #FFFFFF;
}

.start__input::placeholder {
  color: #FFFFFF;
}

.start__subscribe-btn {
  color: #000000;
  padding: 1.4rem 3.2rem;
  border-radius: 3.2rem;
  background-color: #FFFFFF;
  font-weight: 700;
  margin-left: 4rem;
  -webkit-transition: background-color, color .3s ease-in-out;
  -o-transition: background-color, color .3s ease-in-out;
  transition: background-color, color .3s ease-in-out;
}

.start__subscribe-btn:hover {
  background-color: #F24822;
  color: #FFFFFF;
}

.left-start__title {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.8rem;
  margin-bottom: 1.6rem;
}

.left-start__text {
  line-height: 2.8rem;
}

.footer {
  background-color: #0D0D2B;
}

.footer__content {
  padding: 8rem 0;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.top-footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.logo-footer {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.2rem;
  padding-left: 5.6rem;
  position: relative;
  margin-right: 17.1rem;
  cursor: default;
}

.logo-footer::before {
  content: "";
  position: absolute;
  width: 4rem;
  height: 4rem;
  background: url("../img/header/header__logo.png") 0 0 no-repeat;
  left: 0;
  top: -1rem;
}

.navigation-footer__title {
  font-size: 2rem;
  line-height: 3rem;
  color: #FFFFFF;
  cursor: default;
  margin-bottom: 2.4rem;
}

.navigation-footer__link {
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #F2F2F2;
  margin-bottom: 1rem;
}

.navigation-footer__link:last-child {
  margin-bottom: 0;
}

.navigation-footer__link:hover {
  text-decoration: underline;
  opacity: .6;
}

.resources-footer__link {
  line-height: 2.8rem;
  color: #F2F2F2;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.resources-footer__link:last-child {
  margin-bottom: 0;
}

.resources-footer__link:hover {
  text-decoration: underline;
  opacity: .6;
}

.payment-footer__text {
  cursor: default;
  font-size: 3.2rem;
  line-height: 4.8rem;
  max-width: 36rem;
  margin-bottom: 4rem;
}

.payment-footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.payment-footer__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc((100% - 4.8rem) / 3);
  flex: 0 0 calc((100% - 4.8rem) / 3);
  background-color: #181834;
  border-radius: .8rem;
  height: 6.4rem;
}

.visa-payment {
  position: relative;
}

.visa-payment::after {
  content: "";
  position: absolute;
  background: url("../img/footer/logos_visa.svg");
  width: 4.8rem;
  height: 1.6rem;
  top: calc(50% - 1.6rem / 2);
  left: calc(50% - 4.8rem / 2);
}

.mastercard-payment {
  position: relative;
}

.mastercard-payment::after {
  content: "";
  position: absolute;
  background: url("../img/footer/logos_mastercard.svg");
  width: 4.8rem;
  height: 3.8rem;
  top: calc(50% - 3.8rem / 2);
  left: calc(50% - 4.8rem / 2);
}

.btc-payment {
  position: relative;
}

.btc-payment::after {
  content: "";
  position: absolute;
  background: url("../img/footer/logos_bitcoin.svg");
  width: 4rem;
  height: 4rem;
  top: calc(50% - 4rem / 2);
  left: calc(50% - 4rem / 2);
}

.bottom-footer {
  margin-top: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.bottom-footer__rights {
  line-height: 2.8rem;
  cursor: default;
}

.bottom-footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom-footer__social-link-item {
  margin-right: 3.2rem;
  width: 2.4rem;
  height: 2.4rem;
  z-index: 10;
  position: relative;
}

.bottom-footer__social-link-item:last-child {
  margin-right: 0;
}

.bottom-footer__social-link-item img {
  display: block;
  width: 100%;
  height: 100%;
}

.bottom-footer__social-link-item::after {
  content: "";
  width: calc(100% + 2rem);
  height: calc(100% + 2rem);
  position: absolute;
  border-radius: 3.2rem;
  top: -1rem;
  left: -1rem;
  z-index: -1;
  background-color: #F24822;
  opacity: 0;
  -webkit-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.bottom-footer__social-link-item:hover::after {
  opacity: 1;
}

.facebook {
  width: 1rem;
  height: 2rem;
}

.webp .header__logo::before { background: url(../img/header/header__logo.webp) 0 0 no-repeat; }

.webp .left-header__btn::after { background: url(../img/header/header_btn-arrow.webp) no-repeat; }

.webp .intro-box1 { background: url(../img/body/into_icon1.webp) 0 0 no-repeat; }

.webp .intro-box2 { background: url(../img/body/into_icon2.webp) 0 0 no-repeat; }

.webp .intro-box3 { background: url(../img/body/into_icon3.webp) 0 0 no-repeat; }

.webp .bitcoin::after { background: url(../img/body/trade_bitcoin.webp) no-repeat; }

.webp .ethereum::after { background: url(../img/body/trade_ethereum.webp) no-repeat; }

.webp .litecoin::after { background: url(../img/body/trade_litecoin.webp) no-repeat; }

.webp .logo-footer::before { background: url(../img/header/header__logo.webp) 0 0 no-repeat; }
